/* Define hover styles */
.control:hover {
  background-color: var(--mantine-color-dark-2);
  border-radius: 0.5rem;
}
.control:focus,
.control:active {
  background-color: var(--mantine-color-dark-7); /* Dark background */
  color: #ffffff;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.control.active {
  background-color: var(--mantine-color-dark-7);
  color: #ffffff;
  border-radius: 0.5rem;
}

.link:hover,
.link:focus,
.link:active {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
}

/* Your existing CSS styles */
.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding-block: 0.4rem;
  padding-inline: var(--mantine-spacing-lg);
  margin-block: 0.3rem;
  transition: color 0.3s ease;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  /* margin-inline: 0; */
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding-block: var(--mantine-spacing-xs);
  padding-inline: var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-block: var(--mantine-spacing-xs, 4px);
  /* margin-left: var(--mantine-spacing-xl); */
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  border-left: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.chevron {
  transition: transform 200ms ease;
}

.groupTitle {
  font-size: 18px;
  font-weight: bold;
  margin-block: 0.75rem;
  color: #161616;
}
